@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@600&display=swap');
:root{
    --main-color:rgb(39, 245, 32);
    --secondary-color:rgb(95, 255, 67);
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(135deg,rgb(222, 236, 19) 0%,rgb(8, 218, 53) 50%,rgb(222, 236, 19) 100%);
    font-family: 'Tourney', cursive;
    min-height: 100vh;
    align-items: flex-start;
    margin: 0%;
}

.setter {
    margin-top: 10%;
    border-radius: 20px;
    width: 300px;
    background-color: rgb(190, 255, 130);
    height: 210px;
}

.select-time {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--main-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inc,
.dec {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.inc {
    border-bottom: 20px solid var(--secondary-color);
    border-top: 0px solid transparent;
}

.dec {
    border-bottom: 0px solid transparent;
    border-top: 20px solid var(--secondary-color);
}

.inp-time {
    width: 53px;
    height: 53px;
    font-size: 42px;
    font-family: 'Tourney', cursive;
    text-align: center;
}

.txt {
    font-size: 42px;
    display: flex;
    align-items: center;
    color: rgb(59, 59, 59);
}

.button {
    display: block;
    float: right;
    height: 50px;
    width: 170px;
    font-size: 30px;
    margin: 15px;
    background-color: var(--main-color);
    border-radius: 10px;
    font-family: roboto;
}

.alarms-div {
    width: 270px;
    margin-top: 10%;
    background-color: var(--main-color);
    border-radius: 20px;
    max-height: 60vh;
    overflow-y: scroll;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow-x: hidden;
}
.alarms-div::-webkit-scrollbar{
    width:4px;
}
.alarms-div::-webkit-scrollbar-thumb{
    background:var(--secondary-color);
    border-radius: 10px;
    border:0.5px solid black;
}

.alarms {
    font-size: 32px;
    display: flex;
    width: 240px;
    border: 1px solid black;
    margin: 15px auto;
    justify-content: space-around;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.time {
    justify-self: end;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 200px;
    width: 13px;
    height: 13px;
    font-size: 15px;
    transform: translate(0, -50%);
    align-self: flex-start;
    justify-self: flex-end;
    position: relative;
    left: 15px;
    background-color: rgb(255, 68, 68);
    cursor: pointer;
}

.toggle {
    width: 40px;
    height: 7px;
    border: 2px solid black;
    border-radius: 10px;
    transform: translate(0, 13px);
}

.toggle-switch {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 30px;
    transform: translate(0, -35%);
    background-color: black;
    float: right;
}

.toggle-enabled-true {
    background-color: rgb(64, 197, 64);
    position: relative;
    left: 2px;
    float: right;
}

.toggle-enabled-false {
    background-color: rgb(255, 68, 68);
    position: relative;
    right: 2px;
    float: left;
}



/* ******************************************************************************* */

.active-alarm-container{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    display: none;
    overflow: hidden;
}

.active-alarm{
    align-self: center;
    width:100%;
}
.active-alarm::before{
    content: "";
    align-self: center;
    position: absolute;
    width:100%;
    height: 25vh;
    background-color: var(--secondary-color);
    border-radius: 20px;
    animation: vibrate 1s infinite;
    z-index: -1;
}
@keyframes vibrate {
    0%{transform: rotate(0deg);}
    29%{transform: rotate(0deg);}
    30%{transform: rotate(2deg);}
    40%{transform: rotate(-2deg);}
    50%{transform: rotate(2deg);}
    60%{transform: rotate(-2deg);}
    70%{transform: rotate(2deg);}
    80%{transform: rotate(-2deg);}
    90%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}
.active-alarm-content{
    border-radius: 20px;
    padding:5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#active-time{
    font-size: 39px;
}
.button-stop{
    background-color:rgb(255, 68, 68);
}
.button-snooze{
    background-color: rgb(68, 205, 50);
}
.buttons>.button{
    font-size: 20px;
    width: 80px;
}
@media (max-width:300px){
    #active-time{
        font-size: 32px;
    }
    .buttons>.button{
        width: 75px;
        font-size: 19px;
    } 
}